@import "src/assets/sass/variables";

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 48%;
  background-color: $bgSecondary;
  border: 1px solid $line;
  margin-bottom: 24px;

  .image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 238px;
    background-color: $bgSecondary;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .viewBtn {
      position: relative;
      z-index: 1;
      font-weight: 600;
      padding: 10px 20px;
      display: flex;
      text-decoration: none;
      color: $primaryText;
      background-color: $accentText;
      cursor: pointer;
    }
  }

  .projectInfo {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: $primaryText;

    .projectTitle {
      margin: 0;
      padding-bottom: 5px;
      color: $secondaryText;
    }
  }

  .image::before {
    position: absolute;
    opacity: 0.4;
    content: '';
    background-color: $bgSecondary;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

