.box {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  width: 50%;
  height: 50%;
}

.borderBtmRight {
  border-bottom: 10px solid #111111;
  border-right: 10px solid #111111;
}

.textIntro {
  color: #eee;
  font-size: 20px;
}

.textIntroName {
  color: white;
  font-size: 35px;
  margin: 20px 0;
}


.textIntroYellow {
  color: #ffb400;
}